# Dependencies
node_modules/

# Next.js build
.next/
out/

# Prisma
/src/generated/prisma
prisma/*.db

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Vercel
.vercel

# Keys & certificates
*.pem

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*

# TypeScript
*.tsbuildinfo

.vercel
.env*.local
